#first_div{
    border: 3px solid red ;
    border-radius: 5em;
    font-size: 30px;
}
#second_div{
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
}
#third_div{
    background-color: black;
    font-family:monospace;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}
#p3{
    color: white;

}